{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{% static 'frontend/favicon.ico' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'frontend/styles.css' %}">
        <title>Twitter Clone</title>
    </head>
    <body>
        <div id="app">
            <!-- React will load here -->
        </div>
    </body>
    <script src="{% static 'frontend/main.js' %}"></script>
</html>