.profile {
    flex: 0.5;
    border-right: 1px solid var(--twitter-border);
    /* min-width: fit-content; */
    overflow-y: scroll;

    @media (max-width: 1280px) {
        flex: 1;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.profile::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firebox */
.profile {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}

.profile__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-border);
    padding-left: 5px;
}

.profile__header h2, .profile__header h2, .profile__info > h2, .profile__editDialog__title > h2 {
    font-size: 20px;
    font-weight: 800;
}

.profile__header__validUser, .profile__header__invalidUser {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    display: inline-block;
}

.profile__header__tweetsNum {
    color: var(--twitter-grey);
    font-size: 13px;
}

.profile__seperator {
    height: 10px;
    background-color: var(--twitter-background);
    border-bottom: 1px solid var(--twitter-border);
}

.profile__photos {
    position: relative;
    top: 0;
    left: 0;
}

.profile__photos__bg {
    object-fit: cover;
    width: 100%;
    height: 200px;

    position: relative;
    top: 0;
    left: 0;
}

.profile__photos__photo {
    object-fit: cover;
    width: 132px;
    height: 132px;

    position: absolute;
    top: 115px;
    left: 15px;
    border: 5px solid white;
    border-radius: 50%;
}

.profile__info {
    padding-top: 12px;
    padding-right: 16px;
    padding-left: 16px;
}

.profile__backIcon {
    color: var(--twitter-color);
    font-size: 25px !important;
    padding: 10px;
}
.profile__backIcon:hover{
    background-color: var(--twitter-lightest-color);
    border-radius: 50%;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
    cursor: pointer;
}

/** Edit Profile or Follow/Unfollow button */
.profile__info__editProfile {
    display: flex;
    justify-content: flex-end;
}
.profile__info__editProfile > .profile__info__editProfile__outlinedBtn {
    color: var(--twitter-color) !important;
    border: 1px solid var(--twitter-color) !important;
    border-radius: 20px !important;
    font-size: 15px !important;
    font-weight: bold !important;
    text-transform: none !important;
}
.profile__info__editProfile > .profile__info__editProfile__outlinedBtn[name="differentUser"] {
    width: 100px;
}
.profile__info__editProfile > .profile__info__editProfile__outlinedBtn[name="differentUser"]:hover {
    background-color: var(--twitter-lightest-color) !important;
}
.profile__info__editProfile > .profile__info__editProfile__btn {
    width: 100px;
    color: white !important;
    background-color: var(--twitter-color) !important;
    border: 1px solid var(--twitter-color) !important;
    border-radius: 20px !important;
    font-size: 15px !important;
    font-weight: bold !important;
    text-transform: none !important;
}
.profile__info__editProfile > .profile__info__editProfile__btn:hover span span[name="following"] {
    display: none;
}
.profile__info__editProfile > .profile__info__editProfile__btn:hover span span[name="unfollow"] {
    display: block !important;
}
.profile__info__editProfile > .profile__info__editProfile__btn:hover {
    background-color: var(--twitter-red) !important;
    border: 1px solid var(--twitter-red) !important;
}

.profile__info__username {
    color: var(--twitter-grey);
    margin-bottom: 10px;
}

.profile__info__bio {
    margin-bottom: 10px;
}

.profile__info__miscellaneous {
    display: flex;
    color: var(--twitter-grey);
}
.profile__info__miscellaneous > span {
    display: flex;
    margin-right: 12px;
}
.profile__info__icons {
    margin-right: 5px;
}
.profile__info__website {
    color: var(--twitter-color);
    text-decoration: none;
}
.profile__info__website:hover {
    text-decoration: underline;
}

/** Edit Dialog */
.profile__editDialog .MuiPaper-root {
    border-radius: 16px;
}

.profile__editDialog__closeButton {
    position: 'absolute';
    right: 0;
    top: 0;
}

.profile__editDialog__closeButton {
    color: var(--twitter-color) !important;
}
.profile__editDialog__closeButton:hover {
    background-color: var(--twitter-lightest-color) !important;
}
.profile__editDialog__title {
    padding: 8px 16px !important;
}
.profile__editDialog__saveButton {
    float: right;
    color: white !important;
    background-color: var(--twitter-color) !important;
    border-radius: 20px !important;
    font-size: 15px !important;
    font-weight: bold !important;
    text-transform: none !important;
}
.profile__editDialog__saveButton:hover {
    background-color: var(--twitter-darker-color) !important;
}
.profile__editDialog__content > * {
    width: 100% !important;
    margin-top: 16px !important;
    margin-bottom: 8px !important;
}

.profile__info__follows {
    margin-top: 10px;
    color: var(--twitter-grey);
}
.profile__info__follows > span > b {
    color: black;
}
.profile__info__followingsCount {
    margin-right: 20px;
}