.widgets {
    flex: 0.3;
    overflow-y: scroll;

    @media (max-width: 1280px) {
        flex: 0 0 375px;
    }

    @media (max-width: 1004px) {
        display: none;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.widgets::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firebox */
.widgets {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}

.widgets__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    padding-top: 10px;
    border-bottom: 1px solid white;
}
  
.widgets__input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
    /* margin-top: 10px; */
    margin-left: 20px;
    margin-bottom: 5px;
}
.widgets__input--active {
    background-color: white;
    border: 1px solid var(--twitter-color);
}
  
.widgets__input > input {
    border: none;
    background-color: var(--twitter-background);
    width: 100%;
}
.widgets__input > input:focus {
    background-color: white;
}
  
.widgets__searchIcon {
    color: gray;
}
.widgets__searchIcon--active {
    color: var(--twitter-color);
}
  
.widgets__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
}
  
.widgets__widgetContainer > h2 {
    font-size: 18px;
    font-weight: 800;
}